body{
    font-family: 'Pacifico', cursive;
    background-color: rgb(255, 218, 176);
}
#img:hover:after {
    opacity:1;
}
#img {
    position:relative;
}
.chocolad:after {
    content:'Шоколад';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#fff;
    position:absolute;
    width:100%; height:50px;
    bottom:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
}
.marmelad:after {
    content:'Мармелад';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#fff;
    position:absolute;
    width:100%; height:50px;
    bottom:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
}
.cond:after {
    content:'Кондитерские изделия';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#fff;
    position:absolute;
    width:100%; height:50px;
    bottom:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
}
.foreign:after {
    content:'Зарубежные сладости';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#fff;
    position:absolute;
    width:100%; height:50px;
    bottom:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
}

a{
    text-decoration: none;
    color: black;
}
header{
    display: grid;
    grid-template-areas: 'menu cart';
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    position: sticky;
    top: 5px;
    padding: 0 10%;
    font-family: 'Pacifico', cursive;
    z-index: 1;
}
.menu{
    background-color: burlywood;
    border-radius: 25px;
    grid-area: menu;
    display: grid;
    grid-template-columns: 250px 450px 150px;
    grid-template-rows: 75px;
    justify-self: center;
    align-items: center;
    justify-items: center;
}
.items{
    background-color: burlywood;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px;
    justify-self: center;
    align-items: center;
    justify-items: center;
}
#webName{
    position: relative;
    left: 20px;
    display: grid;
    grid-template-columns: 60px 190px;
}
#Header_img_text{
    position: relative;
    align-self: center;
    justify-self: start;
}
.content_icons{
    display: flex;
    align-items: center;
}
.content_icons > .vert-line{
    margin: 13px 0 17px 0;
    border-left: 2px solid rgb(143, 116, 81);
    height: 35px;
}
#vk_icon{
    margin: 5px;
}
#left_icon{
    margin: 4px;
}
.submenu{
    display: none;
    position: absolute;
    background-color: burlywood;
    border-radius: 20px;
    border: 1px solid black;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 150px;
}
ul{
    list-style: none;
    padding: 0;
}
.submenu > li{
    border-bottom: 1px solid black;
}
.submenu > li:last-child{
    border: none;
}
#second:hover{
    background-color: rgb(236, 193, 136);
    box-shadow: 10px;
}
#second{
    width: 150px;
    text-align: center;
}
.submenu > li:hover{
    border-radius: 20px;
    border: 1px black solid;
    background-color: rgb(207, 200, 190);
    box-shadow: 5px;
    transition: 1s;
}
#second:hover > .submenu{
    animation: submenu 1s;
    display: grid;
}
#second:hover > .submenu > #subfirst{
    animation: submenu 1s;
}
#second:hover > .submenu > #subsecond{
    animation: submenu 1.5s;
}
#second:hover > .submenu > #subthird{
    animation: submenu 2s;
}
#second:hover > .submenu > #subfourth{
    animation: submenu 2.5s;
}
#burger, label[for="burger"]{
    visibility: hidden;
    user-select: none;
    font-size: 50px;
    z-index: 1;
}
#cat > h1{
    grid-area: cat;
}
#img{
    grid-area: img;
    justify-self: center;
}
#rb{
    grid-area: rbutton;
    width: 100px;
    height: 130px;
    justify-self: left;
    align-self: center;
}
#lb{
    grid-area: lbutton;
    width: 100px;
    height: 130px;
    justify-self: right;
    align-self: center;
}

/* CSS */
#lb, #rb {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#lb:active #rb:active {
  outline: 0;
}

#lb:hover #rb:hover {
  outline: 0;
}

#lb span, #rb span {
  transition: all 200ms;
}

#lb:hover span, #rb:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  #lb, #rb {
    font-size: 15px;
    height: 50px;
  }

  #lb span, #rb span {
    line-height: 50px;
  }
}

#cat{
    display: grid;
    grid-template-columns:  repeat(1fr, 3);
    grid-template-rows: 100px 500px;
    grid-template-areas: 
    'cat cat cat'
    'lbutton img rbutton';
}
#cart_icon{
    background-color: burlywood;
    border-radius: 20px;
    padding: 10px;
    grid-area: cart;
}
#cart_icon:hover{
    background-color: bisque;
    transition: 1s;
}
@keyframes submenu{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
.hamburger-menu{
    display: none;
}
@media (max-width: 1000px) {
    #first_img{
        width: 400px;
        height: 300px
    }

    .hamburger-menu{
        display: block;
        position: relative;
        z-index: 1;
    }
    header{
        display: none;
    }
    #lb,
    #rb{
        display: none;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__box > li{
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__box > li:hover {
        background-color: #CFD8DC;
    }
}
